################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileSearchApp/.vs/FileSearchApp/v16/Browse.VC.opendb
